#playing-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  display: flex;
  justify-content: space-between;
  width: 180px;
  height: 250px;
  border: 2px solid black;
  border-radius: 8px;
  padding: 10px; 
  font-size: 20px;
}

.left {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 32px;
  gap: 5px;
}

.middle {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 32px;
  gap: 5px;
}

.right {
  align-self: flex-end;
  transform: rotate(180deg);
}