body {
 background-color:#f0f0f0;
 font-family: Arial, sans-serif;
 display: flex;
 justify-content: center;
 padding-top: 50px; 
}

.form-container {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  width: 400px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

label {
  display: block;
  margin: 10px;
  color: #333;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

textarea {
  height: 100px;
  resize: vertical;
}

button {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%
}

button:hover {
  background-color: #45a049;
}