body {
  background-color: #f4f4f4;
}

.color-box {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 5px;
}

.color1 {
  background-color: #ff5733;
}

.color2 {
  background-color: rgb(33, 150, 243);
}

.color3 {
  background-color: tomato;
}

.color4 {
  background-color: hsl(120, 60%, 550%);
}

.color5 {
  background-color: #8e44ad;
}